# DCK properties based on target
# DigitalKey (Supported Country) : KR,US,GB,DE,FR,IT,ES,AE,CH,KZ,SE,VN,ZA,AU,BR,CA,HK,IN,MY,SG,TW,SA,ID,TH,MA
# CSC: EUX, EUY

# NOTICE: If you want to prevent support digitalkey for each device, please set it here as follows.
# Setting "ro.gms.dck.eligible_wcc" here will prevent the value from changing afterwards.

# NOT LAUNCHED DEVICE
#
# on property:sys.boot_completed=1 && property:ro.product.bootimage.device=dm1q
#    setprop ro.gms.dck.eligible_wcc 0


# EUX/EUY SALE CODE
on property:sys.boot_completed=1 && property:ro.csc.sales_code=EUX
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.sales_code=EUY
    setprop ro.gms.dck.eligible_wcc 3

# Special Edition
on property:sys.boot_completed=1 && property:ro.csc.sales_code=XEF
    setprop ro.gms.dck.eligible_wcc 3

# NOT LAUNCHED COUNTRY
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=AE && property:ro.oem.key2=AFR
    setprop ro.gms.dck.eligible_wcc 0
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=VN && property:ro.oem.key2=XEV
    setprop ro.gms.dck.eligible_wcc 0
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=ZA && property:ro.oem.key2=XFE
    setprop ro.gms.dck.eligible_wcc 0

# LAUNCHED COUNTRY
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=KR
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=US
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=AE
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=KZ
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=VN
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=ZA
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=AU
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=BR
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=CA
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=HK
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=IN
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=MY
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=SG
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=TW
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=SA
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=ID
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=TH
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=MA
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=IE
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=BE
    setprop ro.gms.dck.eligible_wcc 3
    
